.CreateProyect{
    margin-top: 70px;
    margin-bottom: 20%;
    margin-left: 5%;
}

.CreateProyect span{
    font-size: 20px;
    font-weight:bold;
}

.CreateProyect p{
    font-weight:bold;
    width: 80%;
}

.CreateProyect input{
    margin-left: 10px;
}

.Tables{
    background-color: #DBC9E7;
    margin-bottom: 1%;
    width: 80%;
    border-color: #A547DE;
    border-style: solid;
    border-width: 2px;
}

.Columns{
    background-color: rgba(226, 40, 28, .24);
    margin-left: 10px;
    margin-bottom: 1%;
    width: 80%;
    border-color: rgba(226, 40, 28, .6);
    border-style: solid;
    border-width: 2px;
}

.ColumnData{
    background-color: rgba(10, 206, 89, .25);
    margin-left: 10px;
    margin-bottom: 1%;
    width: 80%;
    border-color: #0ACE59;
    border-style: solid;
    border-width: 2px;
}


.CreateProyect button{
    font-size: 20px;
}

.Discard{
    background-color:#E2281C;
    margin-left: 90%;
}

.Send{
    background-color:#0ACE59;
    margin-left: 90%;
}

.Add{
    font-weight:lighter;
    font-size: 15px;
    margin-left: 70%;
}

.Add button{
    margin-left: 10px;
    width: 30px;
    height: 30px;
}
