 .footer{
  position: fixed;
  display: flex;
  align-items: center;
  left: 0;
  bottom: 0;
  font-family: "Lustria", serif;
  width: 100%;
  height:18%;
  padding-bottom: 10px;
  background-color: #4b1e66;
  }
  .footer div {
    color: #8e40bd;
    text-align: center;
    display: block;
    width: 33%;
  }
  .footer h2 {
    color: #0ace59;
    font-weight: 200;
    margin-bottom: 5px;
  }
  .footer p {
    margin: 0;
  }