@import url("https://fonts.googleapis.com/css?family=Lustria|Montserrat&display=swap");

body {
  background: #d9dad9;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
